<!-- BEGIN prop_programmingarea -->
<textarea name="{POST_VAR}" id="{ID}" <!-- BEGIN no_rteditor --> class="noRTEditor" <!-- END no_rteditor --> wrap="virtual" <!-- BEGIN prop_ta_c -->cols="{COLS}"<!-- END prop_ta_c --> rows="{ROWS}" <!-- BEGIN prop_ta_w --> style="width:90%;" <!-- END prop_ta_w --> {DISABLED} > {PROPERTY_VALUE} </textarea>
<script src="Customizing/global/plugins/Modules/TestQuestionPool/Questions/assProgQuestion/js/codemirror/codemirror-compressed.js"></script>
<link rel="stylesheet" href="Customizing/global/plugins/Modules/TestQuestionPool/Questions/assProgQuestion/js/codemirror/codemirror.css">
<script>
(function () {
	var javaEditor = CodeMirror.fromTextArea(document.getElementById("{ID}"), {
    lineNumbers: true,
    matchBrackets: true,
    mode: "text/x-java"
  });
}());
</script>
<!-- END prop_programmingarea -->
<!-- BEGIN disabled_rte -->
<div style="overflow: auto; width:400px; height:100px; color:#888888; border: 1px solid; border-color:#C0C0C0; padding: 5px;">
{DR_VAL}
</div>
<!-- END disabled_rte -->
{HIDDEN_INPUT}
