<p>{QUESTIONTEXT}</p>
<!-- BEGIN feedback -->
	<p><span class="feedback">{FEEDBACK}</span></p>
<!-- END feedback -->

<textarea style="border: 1px solid red;" name="prog_area" id="prog_area" class="noRTEditor"  wrap="virtual" cols="100" rows="10" style="width:90%;">{SOLUTION_ON_WORK}</textarea>

<!--  BEGIN paramscompile --><br />
<button type="submit" class="submit" name="cmd[{CMD_COMPILE}]" value="Compile">{TEXT_COMPILE}</button>
<button type="submit" class="submit" name="cmd[{CMD_RUN}]" value="Run">{TEXT_RUN}</button>
<input type="text" id="prog_params" name="prog_params" value="{STUD_PARAMS_INPUT}"/>
<button type="submit" class="submit" name="cmd[{CMD_FEEDBACK}]" value="Feedback">{TEXT_FEEDBACK}</button>
<div style="margin-top: 3px; margin-left: 3px;">
	<label for="prog_params" class="subtitle">{TEXT_PARAMS}</label>
</div>
<!--  END paramscompile -->

<script src="./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assProgQuestion/js/codemirror/codemirror-compressed.js"></script>
<link rel="stylesheet" href="./Customizing/global/plugins/Modules/TestQuestionPool/Questions/assProgQuestion/js/codemirror/codemirror.css">
<script>
(function () {
	var javaEditor = CodeMirror.fromTextArea(document.getElementById("prog_area"), {
    lineNumbers: true,
    matchBrackets: true,
    mode: "text/x-java"
  });
}());
</script>

<!-- BEGIN disabled_rte -->
<div style="overflow: auto; width:400px; height:100px; color:#888888; border: 1px solid; border-color:#C0C0C0; padding: 5px;">
{DR_VAL}
</div>
<!-- END disabled_rte -->

{HIDDEN_INPUT}
